doctype html
html(lang='en')
  head
    title Dmitriy-Zaprutski_resume
    meta(charset='UTF-8')
    link(href='https://fonts.googleapis.com/css?family=Khula:400', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Raleway", rel="stylesheet")

  body
    .header
    .resume-container
      .eyecatch.u-doc-container
        h1.eyecatch-title Dmitriy Zaprutski
        p.eyecatch-subtitle QA Engineer
        p.eyecatch-description
          | I am taking test automation courses in Java.

      .contact
        .row
          .three.columns.contact-each-first
            p.contact-content Russian, Belorussian, English, Polish
            p.contact-heading Languages
          .three.columns.contact-each-second
            p.contact-content +375(29)1866790
            p.contact-heading Phone Number
          .three.columns.contact-each-third
            p.contact-content.contact-content-email zaprutsciy@mail.ru
            p.contact-heading Email
          .three.columns.contact-each-last
            p.contact-content Minsk, Belarus
            p.contact-heading Location

      .row.u-doc-container
        .six.columns

          h2.u-section-title Work Experience
          .work-each
            p.u-each-title
              span.u-each-organization SU-20 MinskPromStroj
              span.u-each-period 2014.04 ~ Current
            p.u-each-subtitle Civil engineer
            p.work-each-description
              | I organize construction works of various buildings, factories.
              ul
                li

        .six.columns

          .education
            h2.u-section-title Education
            .education-each
              span.u-each-organization Belarusian National Technical University
              span.u-each-period 2009.09 ~ 2014.07
            p.u-each-subtitle Industrial and civil construction
            ul
              li Higher mathematics
              li Structural mechanics and Sopromat
              li Drawing and Autocad


            .education-each
              span.u-each-organization TeachMeSkills courses
              span.u-each-period 2021.05 ~ 2021.10
            p.u-each-subtitle Java Automated Testing
            ul
               li Java
               li Automated testing


          .education
            h2.u-section-title Technical Skills
            ul
              li Java
              li Git
              li Maven
              li Selenium WebDriver
              li TestNG

          .education
            h2.u-section-title Profile Links
            ul
              li https://github.com/ZaprutskiDmitriy
    .footer
